{% extends "movies/base.html" %}

{% block content %}
    <style type="text/css">
        .main { margin-left: 20px; margin-top: 25px; }
        .time { font-size: 0.9em; margin-top: 3px; }
        .rating { font-size: 1.2em; margin-top: 3px; }
        .commentlink { text-align: right; }
        .step-links a { font-size: 0.89em; }
        .title {
            font-size: 1.5em; margin-top: 15px; border-bottom: 1px solid #ccc;
            padding-left: 4px; margin-left: 5px;
        }
        .messages { margin-left: 20px; }
        .pagination { margin-top: 20px; margin-left: -20px; }
        
        a:link 
		{ 
		text-decoration: none; 
		text-underline: none; } 
		
		a:active 
		{ 
		text-decoration: none; 
		text-underline: none; } 
		
		a:visited 
		{  
		text-decoration: none; 
		text-underline: none; } 
		
		a:hover 
		{
		text-decoration: none; 
		text-underline: none; }
		
		.latest { font-size:1.8em; } 
    </style>
    <div class="main">
    	<div id="navigation"> 

			<style type="text/css">
	        #navigation { border: 1px dotted #ccc; padding: 4px; }
	        a { margin-left: 15px; }
	   		 </style>
    		<div id="navigation">
		       {% for letter in letters	%}
				<a href="/movies/alpha/{{ letter }}/">{{ letter }}</a>
				{% endfor %} 
		        <!-- Movies A-M N-Z ...  -->
				<h1 class="latest"> <a href="/movies">movies</a> > {{ movie_letter }}  </h1>  
			</div>
		</div>
		
            {% if all_movies_with_letter %}
	            {% for movie in all_movies_with_letter %}
	                <div class="title"><a href="/movies/{{ movie.id }}/">{{ movie.name }}</a></div>
	                <ul>
	                    <div class="time">Publication date: {{ movie.publication }}</div>
                    	<div class="rating">Rating: {{ movie.rating }}</div>
                    	<div class="rating">Actors:
                    			<ul>
									{% for actor in movie.actors.all %}
									    <li><a href="/actors/{{ actor.id }}/">{{ actor }}</a></li>
									{% endfor %}
								</ul>
						</div>
	                </ul>
	            {% endfor %}
	        {% else %}
			    <p>No Movie matched this letter.</p>
			{% endif %}
	</div>


{% endblock %}